.editissuemodal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;

}

.modal {
  width: 70%;
  max-width: 700px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 5; */
  background: var(--clr-white);
  border-radius: 1rem;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.5);
  /* text-align: center; */
}

.modal .content {
  text-align: center;
  /* color: var(--clr-primary); */
}

.modal input {
  border: 1px solid var(--clr-primary);
  border-radius: 0.5rem;
  width: 85%;
  margin: 10px auto;
  height: 1.5rem;
  padding: 0.25rem;
}

.modal .btn {
  display: block;
  margin: 1rem;
  padding: 0.4rem;
}

button {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5rem;
  background: var(--clr-primary);
  border-radius: 0.5rem;
  color: white;
  border: none;
  cursor: pointer;
}

.modal .close-btn {
  text-align: right;
  margin-bottom: 0;
}

.modal .close-btn button {
  font-size: 1rem;
}

.modal .content h2 {
  font-size: 2.5rem;
  margin-top: 0;
}

.modal .update-btn {
  text-align: center;
}