.sidebar {
  flex: 0.2;
  border-right: var(--clr-background) 2px solid;
  border-left: var(--clr-background) 2px solid;
  min-width: 160px;
  /* margin-top: 20px; */
  padding: 20px 20px;
}

.sidebarformobile {
  flex: 0;
  flex-basis: 0px;
  border-right: var(--clr-background) 2px solid;
  border-left: var(--clr-background) 2px solid;
  width: 64px;
  /* margin-top: 20px; */
  padding: 20px 20px;
}

.sidebarformobile_issue {
  width: 3rem;
}

.panchayat_icon {
  color: var(--clr-primary);
  font-size: 30px !important;
  margin-left: 15px;
  margin-bottom: 20px;
}

.sidebar_issue {
  /* padding: 5px 15px; */
  text-transform: inherit !important;
  background-color: var(--clr-primary) !important;
  color: var(--clr-white) !important;
  font-weight: 800 !important;
  border-radius: var(--radius) !important;
  border: none !important;
  height: 50px !important;
  margin-top: 20px !important;
}

.nav-link {
  text-decoration: none;
}