.issue {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  /* padding-top: 20px; */
  border: var(--clr-background) 1px solid;
  /* position: relative; */
}

.editpopup {
  position: fixed;
  /* top: 0; */
  background: white;
  z-index: 2;
}

.issue-body {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  flex: 1;
  /* width: inherit; */
}

.issue-head {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.issue-head .option .option-btn{
  /* border-radius: 5px; */
  /* box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2); */
}

.issue-head .option .option-btn:hover {
  transform: scale(1.15);
  /* border-radius: 5px; */
  /* box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2); */
}

.issue-head .option .option-fn {
  background: white;
  top: 115%;
  right: 0%;
  /* padding: 5px; */
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}

.issue-head .option .option-fn div {
  padding: 5px;
  border-bottom: 1px solid var(--clr-grey-5);
}

.issue-head .option:hover {
  /* transform: scale(1.1); */
  /* background: wheat; */
  cursor: pointer;
}

.issue-header > h3 {
  font-size: 15px;
  margin-bottom: 5px;
  /* margin-left: 0px; */
  margin-top: 0px;
}


.issue-head-discription {
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 0px;
}

.issue-batch {
  font-size: 14px !important;
  color: var(--clr-primary);
}

.issue-username {
  font-size: 12px;
  font-weight: 500;
  color: gray;
}

.issue-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-right: 20%;
}